
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
  margin:0;
}
body {
  margin: 0;
}
ul {
  list-style: none;
}
a, button {
  cursor: pointer;
}

/*베라 로고 이미지 */
.logo img{ 
  float: left;
  width: 15%;
  height: 15%;
  margin-left: 3.3%;
  margin-top: 3%;
}
/*LOGIN, JOIN */
.site_top {  
  text-align: right;
}
 #JOIN {  
  color: gray;
}
.site_top a {
  font-size: 13px;
  color: #ff80ab;
  padding: 0 1px 0 1px; 
  margin-top: 8%;
  display: inline-block; 
  font-weight: 900;
  margin-right: 20px;
} 
#menu_button { 
  float: right;
  margin-top: 7%;
  margin-right: 2%;
  border: none; 
  text-indent: -9999em; 
  background: url(img/menu.png) no-repeat  ;
  background-size: 60%;
  width: 35px;
  height: 50px; 
}
/* 배너  */
.banner img {
  width: 100%;
  height:100%;
  margin-top: 1px;
}
/*BR EVENT*/
.BR {/*BR: br로 시작하는 글자 이미지 class*/
  margin-bottom: 7%;  
}
.BR img { 
  width: 21%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
}
.br_event { 
  width: 100%;
  margin-bottom: 10px;
} 
.swiper-slide nav ul{
  padding: 2%;
}
.tit { 
  float: left;
  width: 50%;
  padding: 1px;
}
 .tit a img { 
  border-radius: 2%; 
} 
.title {  
  font-size: 12px;
  color: #424242;
  font-weight: lighter ;
}
.period {
  font-size: 10px;
  font-weight: lighter ;
  color: #757575;
  margin-top: 5px;
}


/*BR MENU*/
.long_menu {
  background-color: #eeeeee;
  margin-top: 10%;
}
/* BR STORE */
.store { 
  display: block ;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 10px;
} 

/* happy order & delivery*/
.happy_order {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}
/* sns */
.sns {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 9%;
  margin-top: 7%;
}
.sns_list li {
  float: left;
  width: 20%;
  padding: 0 ;
  margin-bottom: 10%;
}
.sns_list img {
  width: 60%;
}
/*baskinrobbins instagram*/
.insta {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 18%;
}
.instagram_img img{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
/* 더보기+ */
 .button {
  border-radius: 42px;
  color: #795548;
  padding: 3%;
  width: 45%;
  margin-top: 5%;
  background-color: white;
  border-color: #bfbfbf;
  font-size: 17px;
  font-weight: 900;
} 
/* footer 시작 */
.footer_2 a{
  font-size: 12px;
  color: #757575;
  float: left;
}
.footer_2 ul {
  padding: 3%;
 }
.footer_2 li {
  float:left;
  margin-top: 1px;
}
 #pink { /*개인정보처리방침*/
  color: #ff80ab;
  font-weight: 900;
}
/* 해피포인트 ..~~ */
#footer .brand_family li {
  float: left;
  width: 16.666%; 
  height: 10%;
  box-sizing: border-box;
  z-index: 1;
  padding: 1px;
}
#footer .brand_family .brand img {
  width: 60%;
  height: 30%;
  margin-bottom: 10px;
  margin-top: 5px;
}
#footer .brand {
  float: left; 
}
#footer .brand ul {
  padding: 3%;
}
#footer .brand_family li a {
  display: block;
  width: 100%;
  height: 80px;
  border: 1px solid #d1cecc;
  padding: 5px 0 5px;
  font-size: 5px;
  text-align: center;
  box-sizing: border-box;
  letter-spacing: -.2em;
  line-height: 1.1;
  border-radius:8%;
}
#footer .brand_family li span {
  color: #726456; 
}

/* 고객센터랑 전화번호 부분 */
#footer .tel img{
  width:5%;
  margin-left: 2%;
}
#footer .tel a {
  font-size: 12px;
  color: #c8baa9;
  font-weight: bold;
}
.button_2 {
  border-radius:8px;
  color: white;
  cursor: pointer;
  padding: 2%;
  width: 22%;
  margin-top: 3%;
  background-color:#c8baa9;
  border-color: #bfbfbf;
  font-size: 15px;
  font-weight: 900;
  margin-left: 6%;
}
select {
 float: right;
 margin-right: 10%;
 margin-top: 4%;
 color:#c8baa9 ;
 width: 27%;
 font-size: 12px;
 padding: 1%;
}
.last_footer {
 margin-top: 1%;
}
#footer { /*푸터 아래 공백*/
  margin-bottom: 16%;
}
/*끝*/